/*
Colores ->
    Blanco: #EAEAEA
    Azul: #87B0FC
    Negro: #515151
    Amarillo: #E8D44D
    margin: top right bottom left
*/


body{
    min-width: 100vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url('./img/endless-constellation.svg');
    color: #515151;
    margin: 0 auto;
}

.logo{max-width: 10vw;}

button{
    border-radius: 0.7rem;
    font-size: 3vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    border: none;
    padding: auto;
    margin: 1em;
    box-shadow: 0.05em 0.05em 0.05em #555;
}

button:hover{
    cursor: pointer;
    transition: all 0.2s ease;
    margin-top: 0.95em;
    box-shadow: 0.1em 0.1em 0.1em #555;
    text-shadow: 0.1em 0.1em 0.1em #555;
}

.cabecera{
    min-width: 100vw;
    padding: 0;
    text-align: center;
}

h1{
    font-size: 3vw;
}

h2{ font-size: 2vw;}

.tarjeta{
    display: inline-block;
    max-width: 35vw;
    min-width: 25vw;
    margin: 1em;
    border-radius: 0.7rem;
    text-shadow: 0.05em 0.05em 0.05em #555;
}

.tarjeta img{
    margin: 0 auto;
    margin-top: 1em;
    text-align: center;
    max-width: 20vw;
    border-radius: 0.7vw;
    border: none;
    box-shadow: 0.1em 0.1em 0.1em #555;
}

.tarjeta h2{
    margin: 0 auto;
    margin-left: 1em;
    text-align: left;
}

.tarjeta p{
    font-size: 1vw;
    margin: 0 auto;
    margin-bottom: 1em;
    margin-left: 2em;
    text-align: left;
    max-width: 20em;
    text-shadow: none;
}


.tarjeta:hover{
    transition: all 0.2s ease;
    box-shadow: 0.1em 0.1em 0.1em #555;
}



/*Clases universales para los elementos del documento*/
.centrados{
    margin: 0 auto;
    text-align: center;
}
div{ background-color: #777;}

.izquierda{float: left;}
.derecha{float: right;}

.amarillos{
    background-color: #E8D44D;
    color: #515151;
    font-weight: bold;
}

.blanco{
    color: #EAEAEA;
}

.azules{
    background-color: #87B0FC;
    font-weight: bold;
}